# xiii. Model Inference

## Import Library

In [31]:
import pandas as pd
import numpy as np
import pickle
import random

## Load Model

In [32]:
# memanggil model yang sudah di simpan
with open('pipeline.pkl', 'rb') as file_1:
  pipeline = pickle.load(file_1)


with open('knn_best.pkl', 'rb') as file_2:
  knn_best = pickle.load(file_2)

# Data Dummy

,OverTime,TotalWorkingYears,StockOptionLevel,MonthlyIncome,Age,YearsWithCurrManager,YearsAtCompany,JobRole,YearsInCurrentRole,JobInvolvement,Attrition

In [34]:
# Atur seed 
seed_value = 69
random.seed(seed_value)
np.random.seed(seed_value)

# Jumlah data point yang ingin dibuat
n = 100

# Membuat data untuk kolom 'target'
Attrition = np.round(np.random.uniform(0, 1, n), 2)

# Membuat data untuk kolom 'fitur'
OverTime = np.random.choice(['Yes', 'No'], n)
# OverTime = random.choices(OverTime, k=n)

TotalWorkingYears = np.random.randint(1, 40,n)
# TotalWorkingYears = random.choices(TotalWorkingYears, k=n)

StockOptionLevel = np.random.randint(0, 3,n)
# StockOptionLevel = random.choices(StockOptionLevel, k=n)

MonthlyIncome = np.random.randint(1000, 19513,n)
# pay_4 = random.choices(pay_4, k=n)

Age = np.random.randint(18, 45,n)

YearsWithCurrManager = np.random.randint(0, 3,n)

YearsAtCompany =np.random.randint(1, 40,n)

job_roles = ['Sales Executive', 'Research Scientist', 'Laboratory Technician',
             'Manufacturing Director', 'Healthcare Representative', 'Manager',
             'Sales Representative', 'Research Director', 'Human Resources']

# Menghasilkan n nilai acak dari daftar job_roles
JobRole = np.random.choice(job_roles, n)

YearsInCurrentRole = np.random.randint(0, 18,n)

JobInvolvement = np.random.randint(1,4,n)

# Membuat DataFrame
data_inf = pd.DataFrame({
    'Attrition': Attrition,
    'OverTime': OverTime,
    'TotalWorkingYears': TotalWorkingYears,
    'StockOptionLevel': StockOptionLevel,
    'MonthlyIncome': MonthlyIncome,
    'Age': Age,
    'YearsWithCurrManager': YearsWithCurrManager,
    'YearsAtCompany': YearsAtCompany,
    'JobRole': JobRole,
    'YearsInCurrentRole': YearsInCurrentRole,
    'JobInvolvement': JobInvolvement,
    
})

data_inf

,Attrition,OverTime,TotalWorkingYears,StockOptionLevel,MonthlyIncome,Age,YearsWithCurrManager,YearsAtCompany,JobRole,YearsInCurrentRole,JobInvolvement
0,0.30,Yes,25,1,1129,33,2,27,Research Scientist,8,3
1,0.81,No,10,0,6999,26,2,34,Laboratory Technician,12,1
2,0.35,Yes,21,1,11434,26,1,13,Healthcare Representative,14,2
3,0.79,No,24,0,16512,42,1,17,Manufacturing Director,8,1
4,0.56,No,9,1,18909,34,1,26,Manufacturing Director,15,3
...,...,...,...,...,...,...,...,...,...,...,...
95,0.67,Yes,14,2,3604,25,1,8,Healthcare Representative,0,1
96,0.19,Yes,8,0,12723,29,2,20,Manager,7,1
97,0.72,Yes,33,0,11325,38,0,39,Sales Representative,10,2
98,0.62,No,23,1,7968,41,0,38,Manufacturing Director,8,2
99,0.61,No,31,1,16632,34,1,13,Sales Representative,10,2

# Scaling dan Encode

In [35]:
data_inf_attrition = data_inf[['Attrition']]
data_inf_fitur = data_inf.drop('Attrition', axis=1)

In [36]:
df_inf_prep = pipeline.transform(data_inf_fitur)

In [37]:
y_inf_predict = knn_best.predict(df_inf_prep)
df_y_pred_inf = pd.DataFrame(y_inf_predict, columns=['Default_payment - Prediction'])
df_y_pred_inf

    Default_payment - Prediction
0                              0
1                              0
2                              0
3                              0
4                              0
..                           ...
95                             0
96                             1
97                             1
98                             0
99                             0

[100 rows x 1 columns]

In [38]:
# menggabungkan data prediksi dengan data awal.
df_final_predict = pd.concat([data_inf,df_y_pred_inf],axis=1)
df_final_predict

,Attrition,OverTime,TotalWorkingYears,StockOptionLevel,MonthlyIncome,Age,YearsWithCurrManager,YearsAtCompany,JobRole,YearsInCurrentRole,JobInvolvement,Default_payment - Prediction
0,0.30,Yes,25,1,1129,33,2,27,Research Scientist,8,3,0
1,0.81,No,10,0,6999,26,2,34,Laboratory Technician,12,1,0
2,0.35,Yes,21,1,11434,26,1,13,Healthcare Representative,14,2,0
3,0.79,No,24,0,16512,42,1,17,Manufacturing Director,8,1,0
4,0.56,No,9,1,18909,34,1,26,Manufacturing Director,15,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.67,Yes,14,2,3604,25,1,8,Healthcare Representative,0,1,0
96,0.19,Yes,8,0,12723,29,2,20,Manager,7,1,1
97,0.72,Yes,33,0,11325,38,0,39,Sales Representative,10,2,1
98,0.62,No,23,1,7968,41,0,38,Manufacturing Director,8,2,0
99,0.61,No,31,1,16632,34,1,13,Sales Representative,10,2,0

# ix. Pengambilan Kesimpulan

## Kesimpulan Data


- Karyawan yang bertahan cenderung memiliki pengalaman kerja yang lebih lama di perusahaan, seperti TotalWorkingYears, YearsAtCompany, YearsInCurrentRole, dan YearsWithCurrManager yang tinggi.

- Hanya sekitar 16.1% dari seluruh karyawan memilih untuk meninggalkan perusahaan, menunjukkan tingkat attrition yang relatif rendah.

- Mayoritas karyawan perusahaan adalah pria (sekitar 60%).

- Karyawan pria lebih cenderung bertahan di perusahaan dibandingkan dengan karyawan wanita.

- Karyawan dengan tingkat pendidikan Bachelor (level 3) memiliki tingkat attrition yang lebih tinggi dibandingkan dengan tingkat pendidikan lainnya.

- Terdapat tren attrition yang lebih tinggi pada karyawan berumur 29 dan 31 tahun.

- Karyawan berusia 18-20 tahun memiliki tingkat attrition yang lebih tinggi dibandingkan dengan yang bertahan.

- Tingkat attrition tertinggi terjadi pada karyawan yang jarang melakukan perjalanan bisnis ("travel rarely"), diikuti oleh yang sering melakukan perjalanan bisnis ("travel frequently"), dan yang paling rendah pada yang tidak melakukan perjalanan bisnis sama sekali ("Non-travel").

- Tingkat attrition tertinggi terjadi pada karyawan di divisi R&D ("Research & Development"), diikuti oleh karyawan di divisi Sales ("Sales"), dan yang paling rendah pada karyawan di divisi HR ("Human Resources").

- Tingkat attrition tertinggi terjadi pada karyawan yang berstatus single, diikuti oleh yang berstatus married, dan yang paling rendah pada yang berstatus cerai ("Divorced").

- Manajer dengan masa kerja yang lebih lama cenderung mengalami pengurangan karyawan, yang mengindikasikan bahwa metode manajemen karyawan oleh manajer tersebut dapat memengaruhi keputusan karyawan untuk meninggalkan perusahaan.

- Karyawan yang memiliki jarak rumah 1-2 mil dari kantor memiliki tingkat attrition yang tinggi.

- Karyawan yang memiliki pengalaman kerja kurang dari 5 tahun di perusahaan memiliki tingkat attrition yang lebih tinggi, menunjukkan bahwa mayoritas yang mengalami attrition adalah karyawan baru.

- Tidak terdapat pengaruh yang signifikan dari lembur (overtime) terhadap tingkat attrition.

## Kesimpulan Model

- Model KNN saat ini mengalami overfitting, dengan hasil recall yang lebih tinggi pada data pelatihan (0.93) dibandingkan dengan data uji (0.31).

- Diperlukan tuning hyperparameter yang lebih cermat, seperti penggunaan Grid Search, untuk mencari kombinasi hyperparameter yang lebih baik.

- Seleksi fitur mungkin diperlukan jika dataset memiliki banyak fitur untuk mengurangi kompleksitas model.
Evaluasi model juga sebaiknya mencakup metrik lain seperti akurasi, presisi, dan F1-score untuk pemahaman yang lebih lengkap tentang kinerja model.

- Score FN = 20, dan Score FP = 55, False Positive yang rendah itu berbahaya, karena karyawan yang diprediksi tidak akan keluar (0) tetapi pada kenyataannya keluar dari perusahaan adalah situasi yang berpotensi berbahaya bagi perusahaan karena alasan-alasan berikut:
    - Kehilangan Investasi: Perusahaan telah menginvestasikan waktu, pelatihan, dan sumber daya dalam pengembangan karyawan tersebut. Jika karyawan tersebut keluar, investasi ini mungkin akan hilang.
    - Gangguan Operasional: Kehilangan karyawan berpengalaman dan terlatih dapat mengganggu operasional perusahaan. Ini dapat mengakibatkan penurunan produktivitas dan kehilangan pengetahuan karyawan yang sulit digantikan.
    - Biaya Penggantian: Mengganti karyawan yang keluar dengan karyawan baru akan menghasilkan biaya tambahan. Ini termasuk biaya perekrutan, pelatihan, dan adaptasi karyawan baru.

## Saran Untuk Perusahaan

- Perusahaan dapat mempertimbangkan program pengembangan dan retensi karyawan untuk meningkatkan pengalaman kerja jangka panjang, yang dapat membantu mengurangi tingkat attrition.

- Evaluasi faktor-faktor yang memengaruhi attrition pada karyawan berpendidikan Bachelor dan berusia 29 serta 31 tahun untuk menemukan solusi yang sesuai.

- Upayakan untuk meningkatkan retensi karyawan baru dengan memberikan dukungan dan pelatihan yang lebih baik dalam masa awal pekerjaan mereka.

- Perusahaan dapat melihat lebih dalam mengenai penyebab tingginya attrition pada karyawan yang tinggal dekat dengan kantor dan mengevaluasi apakah ada faktor-faktor lain yang memengaruhi keputusan mereka.

- Manajemen perlu mempertimbangkan perbaikan dalam metode manajemen karyawan, khususnya pada manajer dengan masa kerja yang lama, untuk mengurangi pengurangan karyawan yang berpotensi berdampak negatif pada organisasi.

- Terus memantau data attrition dan memperbaiki strategi retensi karyawan berdasarkan temuan-temuan tersebut untuk menjaga stabilitas tenaga kerja dan produktivitas perusahaan.